In [1]:
import pandas as pd
import numpy as np

In [2]:
#Let's first bring the dataset
df = pd.read_csv('Cartoon_datasets.csv')
#Then, let's see its head
df.head()

,Name,Span,Description,Rating
0,Batman: The Animated Series,(1992–1995),The Dark Knight battles crime in Gotham City w...,9.0
1,Samurai Jack,(2001–2017),"A samurai, sent through time, fights to return...",8.5
2,Avatar: The Last Airbender,(2005–2008),"In a war-torn world of elemental magic, a youn...",9.3
3,Total Drama Island,(2007–2014),Animated satire of survivor reality shows feat...,7.4
4,Scooby-Doo! Mystery Incorporated,(2010–2013),This incarnation finds Scooby and the gang liv...,8.1

In [3]:
#Let's see the shape of our dataset
df.shape
#As we can see, it is (100, 4)

(100, 4)

In [5]:
#Let's see the discribtion of the dataset
df.describe().T
#This will only include only the numeric

        count   mean       std  min  25%   50%  75%  max
Rating  100.0  7.873  0.580466  6.4  7.5  7.85  8.3  9.3

In [6]:
#Let's see if we have null data in our columns
df.info()
#It seems that there is no null data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         100 non-null    object
 1   Span         100 non-null    object
 2   Description  100 non-null    object
 3   Rating       100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB

In [7]:
#Let's check
df.isna().sum()
#No null data

Name           0
Span           0
Description    0
Rating         0
dtype: int64

In [9]:
#Let's check the duplicated data
df.duplicated().sum()
#As we can see, there is no duplicated data

0